<div class="slideToolbarContainer">
    <!-- TODO 浮动导航 -->
    <div class="slideToolbar">
        <div class="appList">
            <div class="RThome">
                <a href="index.html">首页</a>
            </div>
            <div class="RTsearch">
                <a href="https://www.baidu.com/" target="_blank">百度</a>
            </div>
            <div class="RTnevagation">
                <a href="#">导航</a>
            </div>
            <div class="RTMusic">
                <a href="#" ms-click="openMusicPlayer($event);">音乐</a>
            </div>
            <div class="RTgames">
                <a href="#">游戏</a>
            </div>
        </div>
        <div class="playerContainer" id="Mplayer">
            <h2 class="icon icon-lab">Aplayer</h2>
            <div id="player4" class="aplayer"></div>
        </div>
    </div>
</div>