<div class="classic_managment">
    <p>
        <a class="btn btn-info">全选</a>
        <a class="btn btn-info">添加分类</a>
        <a class="btn btn-info">删除分类</a>
        <a class="btn btn-info">修改分类</a>
    </p>
    <table>
        <thead>
        <tr>
            <th width="60px"><input type="checkbox"/></th>
            <th>类别</th>
            <th>文章数</th>
            <th>创建时间</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td width="60px"><input type="checkbox"/></td>
            <td>blog</td>
            <td>120</td>
            <td>2017-03-24 11:12</td>
        </tr>
        <tr>
            <td width="60px"><input type="checkbox"/></td>
            <td>blog</td>
            <td>120</td>
            <td>2017-03-24 11:12</td>
        </tr>
        <tr>
            <td width="60px"><input type="checkbox"/></td>
            <td>blog</td>
            <td>120</td>
            <td>2017-03-24 11:12</td>
        </tr>
        </tbody>
    </table>
</div>