
<div class="col-md-12">
        <form id="art_edit" action="">
            <div class="form-group">
                <h5>文章标题 <span>尊重原创，请保证您的文章为原创作品</span></h5>
                <select class="form-ctrl" name="type" id="art_type">
                    <option value="0">原创</option>
                    <option value="1">翻译</option>
                    <option value="2">转载</option>
                </select>
                <input type="text" id="title" name="title" placeholder="文章标题" class="form-ctrl"/>

            </div>
            <div class="form-group">
                <h5>文章标签（添加Tag，你的内容能被更多人看到）</h5>
                <input id="art_tags" type="text" name="title" placeholder="文章标签" class="form-ctrl"/>（最多添加5个标签，多个标签之间用“,”分隔）
            </div>
            <div class="form-group">
                <h5>文章分类（到分类首页）</h5>
                <input type="radio" name="class" value="1" id="class11"/>
                <label for="class11">移动开发</label>
                <input type="radio" name="class" value="2" id="class12"/>
                <label for="class12">Web前端</label>
                <input type="radio" name="class" value="3" id="class13"/>
                <label for="class13">架构设计</label>
                <input type="radio" name="class" value="4" id="class14"/>
                <label for="class14">编程语言</label>
                <input type="radio" name="class" value="5" id="class15"/>
                <label for="class15">互联网</label>
                <input type="radio" name="class" value="6" id="class16"/>
                <label for="class16">数据库</label>
            </div>
            <div class="form-group">
                <h5>文章评论功能</h5>
                <input type="radio" name="class" value="1" id="comment_y"/>
                <label for="comment_y">允许</label>
                <input type="radio" name="class" value="2" id="comment_n"/>
                <label for="comment_n">禁止</label>
            </div>
            <div class="form-group">
                <h5>摘要：（默认自动提取您文章的前200字显示在博客首页作为文章摘要，您也可以在这里自行编辑 ）</h5>
                <textarea name="about" id="describe" style="width:100%;height:90px;"></textarea>
            </div>

            <div class="form-group">
                <h5>文章内容</h5>
                    <textarea id="editor_id" name="content" style="width:100%;height:700px;">
                        &lt;strong&gt;HTML内容&lt;/strong&gt;
                    </textarea>
            </div>

            <div>
                <p class="text-danger">提示：请不要发布任何推广、广告（包括招聘）、政治、低俗等方面的内容，不要把博客当作SEO工具，否则可能会影响到您的使用。</p>
            </div>
            <div class="form-group text-center">
                <button class="btn btn-primary" >发表文章</button>
                <button class="btn btn-primary" >保存文章</button>
                <button class="btn btn-primary" >舍弃</button>
            </div>
        </form>
</div>
