<div class="user_info">
    <div class="base_info">

        <div class="media">
            <a class="pull-left" href="#">
                <img class="media-object" src="imgs/user_imgs/u578544.jpg"
                     alt="用户头像">
            </a>
            <div class="media-body">
                <h3 class="media-heading">Rotbing</h3>
                <p><span>一句话介绍一下自己吧，让别人更了解你</span></p>
                <p><span>所在地:</span><span>上海</span></p>
                <p><span>角色:</span><span>普通会员</span></p>
                <p><span>个人统计:</span><span>100篇个人博客</span><span>150关注</span></p>
                <p><button class="btn btn-primary">编辑</button></p>
            </div>
        </div>
    </div>

    <div class="base_info">
        <p class="tag"><span><i></i><strong>基本信息</strong></span><button class="rt btn btn-success">编辑</button></p>
        <div>
            <ul class="list-unstyled">
                <li><label for="">真实姓名:</label><span>张三</span></li>
                <li><label for="">性别:</label><span>男</span></li>
                <li><label for="">邮箱:</label><span>949869293@qq.com</span></li>
                <li><label for="">QQ:</label><span>949869293</span></li>
                <li><label for="">电话:</label><span>18616907416</span></li>
                <li><label for="">地址:</label><span>中国上海</span></li>
                <li>
                    <label for="">当前密码:</label>
                    <input type="password" name="username" value="admin"/>
                    <button class="btn btn-success">编辑</button><button class="btn btn-success">显示</button>
                </li>
                <div class="clear"></div>
            </ul>
        </div>
    </div>

    <div class="safe_questions">
        <p class="tag"><span><i></i><strong>账户安全问题</strong></span></p>
        <form action="">
            <ul class="list-unstyled">
                <li>
                    <label for="question1">问题1：</label>
                    <select name="question1" id="question1">
                        <option value="1">你的真实姓名是什么？</option>
                        <option value="2">你的家乡最美的地方是什么？</option>
                        <option value="3">你最喜欢的电影是什么？</option>
                    </select>
                </li>
                <li><label for="">答案1：</label><input type="text" name="answer1" value=""/></li>
                <li>
                    <label for="question2">问题2：</label>
                    <select name="question2" id="question2">
                        <option value="1">你的真实姓名是什么？</option>
                        <option value="2">你的家乡最美的地方是什么？</option>
                        <option value="3">你最喜欢的电影是什么？</option>
                    </select>
                </li>
                <li><label for="">答案2：</label><input type="text" name="answer2" value=""/></li>
                <li>
                    <label for="question3">问题3：</label>
                    <select name="question3" id="question3">
                        <option value="1">你的真实姓名是什么？</option>
                        <option value="2">你的家乡最美的地方是什么？</option>
                        <option value="3">你最喜欢的电影是什么？</option>
                    </select>
                </li>
                <li><label for="">答案3：</label><input type="text" name="answer3" value=""/></li>
                <li class="text-center">
                    <a class="btn btn-info">保存</a>
                    <a class="btn btn-info">取消</a>
                </li>
            </ul>

        </form>
    </div>
</div>