<div class="row content_box">
    <div class="col-md-9">
        <div class="module_01">
            <div class="forum_top_tag">
                <a href="#">全部</a>
                <a href="#">问答</a>
                <a href="#">分享</a>
                <a class="rt" href="#">50条</a>
                <a class="rt" href="#">30条</a>
                <a class="rt" href="#">15条</a>
            </div>
            <div class="forum_content">
                <a href="#!/content">
                    <img src="imgs/user_imgs/6119845.jpg" alt=""/>
                    <span class="commit_type">问答</span>
                    怎么动态改页面title？
                    <div class="rt">
                        <span>1天前</span>
                        <span class="status">
                            <span class="rt_hf">0</span>
                            /65
                        </span>
                    </div>
                </a>
                <a href="#!/content">
                    <img src="imgs/user_imgs/6119845.jpg" alt=""/>
                    <span class="commit_type">问答</span>
                    怎么动态改页面title？
                    <div class="rt">
                        <span>1天前</span>
                        <span class="status">
                            <span class="rt_hf">0</span>
                            /65
                        </span>
                    </div>
                </a>
                <a href="#!/content">
                    <img src="imgs/user_imgs/6119845.jpg" alt=""/>
                    <span class="commit_type">问答</span>
                    怎么动态改页面title？
                    <div class="rt">
                        <span>1天前</span>
                        <span class="status">
                            <span class="rt_hf">0</span>
                            /65
                        </span>
                    </div>
                </a>
                <a href="#!/content">
                    <img src="imgs/user_imgs/6119845.jpg" alt=""/>
                    <span class="commit_type">问答</span>
                    怎么动态改页面title？
                    <div class="rt">
                        <span>1天前</span>
                        <span class="status">
                            <span class="rt_hf">0</span>
                            /65
                        </span>
                    </div>
                </a>
                <a href="#!/content">
                    <img src="imgs/user_imgs/6119845.jpg" alt=""/>
                    <span class="commit_type">问答</span>
                    怎么动态改页面title？
                    <div class="rt">
                        <span>1天前</span>
                        <span class="status">
                            <span class="rt_hf">0</span>
                            /65
                        </span>
                    </div>
                </a>
                <a href="#!/content">
                    <img src="imgs/user_imgs/6119845.jpg" alt=""/>
                    <span class="commit_type">问答</span>
                    怎么动态改页面title？
                    <div class="rt">
                        <span>1天前</span>
                        <span class="status">
                            <span class="rt_hf">0</span>
                            /65
                        </span>
                    </div>
                </a>
            </div>
            <div id="pageTool"></div>
        </div>
        <div class="module_01">
            <!-- 发帖编辑模块 -->
            <div class="forum_editer">
                <form action="">
                    <div class="input-group">
                        <span class="input-group-addon">发帖</span>
                        <input class="post_title" type="text" name="title" placeholder="标题">
                        <button class="btn btn-primary">+</button>
                        <input type="radio" id="type1" value="问答" name="type" checked="checked"/><label for="type1">问答</label>
                        <input type="radio" id="type2" value="分享" name="type"/><label for="type2">分享</label>
                    </div>
                    <div class="input-group">
                        <textarea name="commit" id="commit" style="width:100%;height:90px;"></textarea>
                    </div>
                    <div class="input-group">
                        <button id="post_submit" type="button">提交</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="module">
            <div class="Info_item">
                <p><span class="glyphicon glyphicon-search"></span>站内搜索</p>
            </div>
            <form action="#">
                <div class="input-group">
                    <input type="text" class="form-control" name="findKey" />
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Go!</button>
                        </span>
                </div>
            </form>
        </div>
        <div class="module">
            <div class="Info_item">
                <p><span class="glyphicon glyphicon-cloud"></span>天气</p>
            </div>
            <iframe allowtransparency="true" frameborder="0" width="100%" height="98" scrolling="no" src="//tianqi.2345.com/plugin/widget/index.htm?s=2&z=1&t=0&v=0&d=1&bd=0&k=0080c0&f=&q=1&e=1&a=1&c=54511&w=197&h=98&align=center"></iframe>
        </div>
        <div class="module">
            <div class="Info_item">
                <p><span class="glyphicon glyphicon-book"></span>推荐博客</p>
            </div>
            <ul class="hotBlog">
                <li>
                    <em class="orderOne">
                        <em class="orderOne">1</em>
                    </em>
                    <a href="#">简单让网站纯色滤镜</a>
                </li>
                <li>
                    <em class="orderTwo">
                        <em class="orderTwo">2</em>
                    </em>
                    <a href="#">简单让网站纯色滤镜</a>
                </li>
                <li>
                    <em class="orderThree">
                        <em class="orderThree">3</em>
                    </em>
                    <a href="#">简单让网站纯色滤镜</a>
                </li>
                <li>
                    <em class="orderOther">
                        <em class="orderOther">4</em>
                    </em>
                    <a href="#">简单让网站纯色滤镜</a>
                </li>
                <li>
                    <em class="orderOther">
                        <em class="orderOther">5</em>
                    </em>
                    <a href="#">简单让网站纯色滤镜</a>
                </li>
            </ul>
        </div>
        <div class="module">
            <div class="Info_item">
                <p><span class="glyphicon glyphicon-tags"></span>文章标签</p>
            </div>
            <ul class="word list-unstyled">
                <li>JavaScript</li>
                <li>Bootstrap</li>
                <li>PHP</li>
                <li>HTML5</li>
                <li>jQuery</li>
                <li>Two.js</li>
                <li>Mysql</li>
                <li>AngularJS</li>
                <div class="clear"></div>
            </ul>
        </div>
        <div class="module">
            <div class="Info_item">
                <p><span class="glyphicon glyphicon-file"></span>最新文章</p>
            </div>
            <ul class="last_article list-unstyled">
                <li>
                    <a href="#">文章标题</a>
                </li>
                <li>
                    <a href="#">文章标题</a>
                </li>
                <li>
                    <a href="#">文章标题</a>
                </li>
                <li>
                    <a href="#">文章标题</a>
                </li>
                <li>
                    <a href="#">文章标题</a>
                </li>
            </ul>
        </div>
        <div class="module">
            <div class="Info_item">
                <p><span class="glyphicon glyphicon-comment"></span>最新评论</p>
            </div>
            <ul class="comment list-unstyled">
                <li>
                    <a href="#">
                        <img class="lt" src="imgs/user_imgs/61198451.jpg" alt=""/>
                        <div class="lt">
                            <strong>Rotbing</strong>
                            <p>这是一个评论！</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img class="lt" src="imgs/user_imgs/61198451.jpg" alt=""/>
                        <div class="lt">
                            <strong>Rotbing</strong>
                            <p>这是一个评论！</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img class="lt" src="imgs/user_imgs/61198451.jpg" alt=""/>
                        <div class="lt">
                            <strong>Rotbing</strong>
                            <p>这是一个评论！</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img class="lt" src="imgs/user_imgs/61198451.jpg" alt=""/>
                        <div class="lt">
                            <strong>Rotbing</strong>
                            <p>这是一个评论！</p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img class="lt" src="imgs/user_imgs/61198451.jpg" alt=""/>
                        <div class="lt">
                            <strong>Rotbing</strong>
                            <p>这是一个评论！</p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="module">
            <div class="Info_item">
                <p><span class="glyphicon glyphicon-picture"></span>广告</p>
            </div>
            <ul class="shop_link list-unstyled">
                <li><a href="#"><img class="img-responsive" src="imgs/ad/123456.jpg" alt=""/></a></li>
                <li><a href=""><img class="img-responsive" src="imgs/ad/123456.jpg" alt=""/></a></li>
                <li><a href=""><img class="img-responsive" src="imgs/ad/123456.jpg" alt=""/></a></li>
                <li><a href=""><img class="img-responsive" src="imgs/ad/123456.jpg" alt=""/></a></li>
                <div class="clear"></div>
            </ul>
        </div>
        <div class="module">
            <div class="Info_item">
                <p><span class="glyphicon glyphicon-link"></span>友情链接</p>
            </div>
            <ul class="weblink list-unstyled">
                <li>
                    <a href="#"><span class="glyphicon glyphicon-link"></span>百度</a>
                </li>
                <li>
                    <a href="#"><span class="glyphicon glyphicon-link"></span>Google</a>
                </li>
                <li>
                    <a href="#"><span class="glyphicon glyphicon-link"></span>runton</a>
                </li>
                <li>
                    <a href="#"><span class="glyphicon glyphicon-link"></span>fellowgov</a>
                </li>
                <li>
                    <a href="#"><span class="glyphicon glyphicon-link"></span>360</a>
                </li>
                <div class="clear"></div>
            </ul>
        </div>
        <div class="module">
            <div class="Info_item">
                <p><span class="glyphicon glyphicon-envelope"></span>联系我</p>
            </div>
            <ul class="contact_us list-unstyled">
                <li>
                    联系站长：949869293@qq.com
                </li>
                <li>
                    QQ群讨论：94266216
                </li>
                <li>
                    微信群：sge-001
                </li>
                <li>
                    <img class="img-responsive" src="imgs/host/IMG_0630.jpg" alt=""/>
                </li>
            </ul>
        </div>
    </div>
</div>