<div class="box">

    <div class="row">
        <div class="adWall">
            <img src="imgs/ad/1255644.jpg" alt="广告"/>
        </div>
    </div>
    <div class="row content_box">

        <div class="col-md-12">
            <div class="memeber_nav">
                <div class="memeber_nav_tag lt">
                    <span class="glyphicon glyphicon-tags"></span>
                    会员墙
                </div>
                <div class="memeber_nav_items lt">
                    <a href="#">粉丝数量</a>
                    <a href="#">注册时间</a>
                    <a href="#">发表数量</a>
                    <a href="#">用户昵称</a>
                </div>
                <div class="clear"></div>
            </div>
        </div>

        <div class="col-md-12">
            <ul class="user_info_wall list-unstyled">
                <li>
                    <div class="user_item">
                    <div class="user_share">
                        <dl>
                            <dt>
                            <div class="user-host">
                                <div class="lt">
                                    <img src="imgs/user_imgs/61198451.jpg"/>
                                </div>
                                <div class="lt">
                                    <h6>物流章鱼哥</h6>
                                    <p><span class="glyphicon glyphicon-map-marker"></span>上海嘉定</p>
                                </div>
                                <div class="clear"></div>
                            </div>
                            <img src="imgs/user_imgs/2_1355415460_square_like.jpg">
                            </dt>
                            <dd>

                                <p>
                                    <span><i class="glyphicon glyphicon-eye-open"></i>316</span><span><i class="glyphicon glyphicon-heart"></i>316</span><a class="btn btn-success rt"
                                                                                                                                                            href="#">+关注</a>
                                </p>

                            </dd>
                        </dl>
                    </div>
                </div>
                </li>
                <li>
                    <div class="user_item">
                        <div class="user_share">
                            <dl>
                                <dt>
                                    <div class="user-host">
                                    <div class="lt">
                                        <img src="imgs/user_imgs/61198451.jpg"/>
                                    </div>
                                    <div class="lt">
                                        <h6>物流章鱼哥</h6>
                                        <p><span class="glyphicon glyphicon-map-marker"></span>上海嘉定</p>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                                <img src="imgs/user_imgs/2_1355415460_square_like.jpg">
                                </dt>
                                <dd>
                                    <p>
                                        <span><i class="glyphicon glyphicon-eye-open"></i>316</span><span><i class="glyphicon glyphicon-heart"></i>316</span><a class="btn btn-success rt" href="#">+关注</a>
                                    </p>
                                 </dd>
                            </dl>
                        </div>
                    </div>
                </li>
                <li>
                <div class="user_item">
                    <div class="user_share">
                        <dl>
                            <dt>
                            <div class="user-host">
                                <div class="lt">
                                    <img src="imgs/user_imgs/61198451.jpg"/>
                                </div>
                                <div class="lt">
                                    <h6>物流章鱼哥</h6>
                                    <p><span class="glyphicon glyphicon-map-marker"></span>上海嘉定</p>
                                </div>
                                <div class="clear"></div>
                            </div>
                            <img src="imgs/user_imgs/2_1355415460_square_like.jpg">
                            </dt>
                            <dd>
                                <p>
                                    <span><i class="glyphicon glyphicon-eye-open"></i>316</span><span><i class="glyphicon glyphicon-heart"></i>316</span><a class="btn btn-success rt"
                                                                                                                                                            href="#">+关注</a>
                                </p>

                            </dd>
                        </dl>
                    </div>
                </div>
            </li>
                <li>
                <div class="user_item">
                    <div class="user_share">
                        <dl>
                            <dt>
                            <div class="user-host">
                                <div class="lt">
                                    <img src="imgs/user_imgs/61198451.jpg"/>
                                </div>
                                <div class="lt">
                                    <h6>物流章鱼哥</h6>
                                    <p><span class="glyphicon glyphicon-map-marker"></span>上海嘉定</p>
                                </div>
                                <div class="clear"></div>
                            </div>
                            <img src="imgs/user_imgs/2_1355415460_square_like.jpg">
                            </dt>
                            <dd>
                                <p>
                                    <span><i class="glyphicon glyphicon-eye-open"></i>316</span><span><i class="glyphicon glyphicon-heart"></i>316</span><a class="btn btn-success rt"
                                                                                                                                                            href="#">+关注</a>
                                </p>
                            </dd>
                        </dl>
                    </div>
                </div>
            </li>
                <li>
                <div class="user_item">
                    <div class="user_share">
                        <dl>
                            <dt>
                            <div class="user-host">
                                <div class="lt">
                                    <img src="imgs/user_imgs/61198451.jpg"/>
                                </div>
                                <div class="lt">
                                    <h6>物流章鱼哥</h6>
                                    <p><span class="glyphicon glyphicon-map-marker"></span>上海嘉定</p>
                                </div>
                                <div class="clear"></div>
                            </div>
                            <img src="imgs/user_imgs/2_1355415460_square_like.jpg">
                            </dt>
                            <dd>
                                <p>
                                    <span><i class="glyphicon glyphicon-eye-open"></i>316</span><span><i class="glyphicon glyphicon-heart"></i>316</span><a class="btn btn-success rt" href="#">+关注</a>
                                </p>
                            </dd>
                        </dl>
                    </div>
                </div>
            </li>
                <div class="clear"></div>
            </ul>
        </div>
    </div>
</div>